<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Vonnda_Taxify>
            <version>0.1.5</version>
        </Vonnda_Taxify>
    </modules>
    <global>
        <resources>
            <taxify_setup>
                <setup>
                    <module>Vonnda_Taxify</module>
                    <class>Vonnda_Taxify_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </taxify_setup>
            <taxify_write>
                    <connection>
                  <use>core_write</use>
                </connection>
            </taxify_write>
                <taxify_read>
                  <connection>
                  <use>core_read</use>
                </connection>
            </taxify_read>
        </resources>
        <blocks>
            <taxify>
                <class>Vonnda_Taxify_Block</class>
            </taxify>
            <adminhtml>
                <rewrite>
                    <tax_class_edit_form>Vonnda_Taxify_Block_Adminhtml_Tax_Class_Edit_Form</tax_class_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <taxify>
                <class>Vonnda_Taxify_Helper</class>
            </taxify>
        </helpers>
        <models>
            <taxify>
                <class>Vonnda_Taxify_Model</class>
            </taxify>
        </models>
        <events>
            <sales_quote_collect_totals_before>
                <observers>
                    <tax>
                        <class>Vonnda_Taxify_Model_Observer</class>
                        <method>quoteCollectTotalsBefore</method>
                    </tax>
                </observers>
            </sales_quote_collect_totals_before>
            <sales_order_place_after>
                <observers>
                    <tax_sales_order_observer>
                        <type>singleton</type>
                        <class>Vonnda_Taxify_Model_Observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </tax_sales_order_observer>
                </observers>
            </sales_order_place_after>
            <sales_order_payment_cancel>
                <observers>
                    <tax_sales_order_payment_cancel_observer>
                        <type>singleton</type>
                        <class>Vonnda_Taxify_Model_Observer</class>
                        <method>salesOrderCancelAfter</method>
                    </tax_sales_order_payment_cancel_observer>
                </observers>
            </sales_order_payment_cancel>
        </events>
    </global>
    <admin>
        <routers>
            <vonnda_taxify>
                <use>admin</use>
                <args>
                    <module>Vonnda_Taxify</module>
                    <frontName>admintaxify</frontName>
                </args>
            </vonnda_taxify>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <taxify_notification>
                        <type>singleton</type>
                        <class>taxify/feed</class>
                        <method>checkUpdate</method>
                    </taxify_notification>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
    <default>
        <tax>
            <taxify>
                <enabled>0</enabled>
                <test_mode>0</test_mode>
            </taxify>
        </tax>
        <taxify>
            <feed>
                <url>http://magento.vonnda.net/rss/taxify.rss</url>
                <use_https>0</use_https>
                <frequency>24</frequency>
            </feed>
        </taxify>
    </default>
</config>
