<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Vonnda_Taxify>
            <version>0.1.0</version>
        </Vonnda_Taxify>
    </modules>
    <global>
        <helpers>
            <taxify>
                <class>Vonnda_Taxify_Helper</class>
            </taxify>
        </helpers>
        <models>
            <taxify>
                <class>Vonnda_Taxify_Model</class>
            </taxify>
        </models>
        <events>
            <sales_quote_collect_totals_before>
                <observers>
                    <tax>
                        <class>Vonnda_Taxify_Model_Observer</class>
                        <method>quoteCollectTotalsBefore</method>
                    </tax>
                </observers>
            </sales_quote_collect_totals_before>
            <sales_order_place_after>
                <observers>
                    <tax_sales_order_observer>
                        <type>singleton</type>
                        <class>Vonnda_Taxify_Model_Observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </tax_sales_order_observer>
                </observers>
            </sales_order_place_after>
            <sales_order_payment_cancel>
                <observers>
                    <tax_sales_order_payment_cancel_observer>
                        <type>singleton</type>
                        <class>Vonnda_Taxify_Model_Observer</class>
                        <method>salesOrderCancelAfter</method>
                    </tax_sales_order_payment_cancel_observer>
                </observers>
            </sales_order_payment_cancel>
        </events>
    </global>
    <default>
        <tax>
            <taxify>
                <enabled>0</enabled>
                <test_mode>0</test_mode>
            </taxify>
        </tax>
    </default>
</config>
